@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-xxs: 400px;
  --breakpoint-xs: 500px;
  --color-customBlack: #212226 ;
  --color-customGreen: #35D927 ;
   
}